<html>
<head>
</head>
<body>
	<font face="Arial" size=6><p>Today - {{ time_repr }}</p></font>
	<a href="make">
		<button class="button">Create Jadwal</button>
	</a>    
	<p>
	<table border=1>
	<tr>
	<th><font face="Arial" size=6>Event
	<th><font face="Arial" size=6>Location
	<th><font face="Arial" size=6>Time
	<th><font face="Arial" size=6>Remove
    {% for j in jadwal %}
		<tr>
		<td>
		<font face="Arial" size=6>{{ j.category }} - {{ j.event }}
		<td>at {{ j.location }}
		<td>{{ j.date }} on {{ j.time }}
		<td><form action="remove" method="POST" >
		{% csrf_token %}
		<input type="hidden" value="{{ j.id }}" name="id" />
		<input type="submit" value="Delete" />
        </form>
		<p><br>
    {% endfor %}
</body>
</html>